body {
	background-color: #2b2b2a ;
	font-color: white;
	font-family: 'Poiret One', cursive;
    background-image: url("img2.png");
}
.div1 {
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin-top: 01%;
	padding-top: 5%;
	border: 1px ;
}
.header1 {
	position: relative;
	float:left;
	left: 5%;
	margin-top: 4%;
	color:  white;
	font-size: 3.5em;
	font-family: 'Poiret One', cursive;

}

.header2 {
	font-family: 'Poiret One', cursive;
	color:  black;
}

.w3-card-24 {
		font-family: 'Poiret One', cursive;
	margin-left: 22%;
	margin-right: 22%;
	padding-top: 75px;
	padding-bottom: 2%;
	position: relative;
	top: 140px;
}

.w3-card-16 {
		font-family: 'Poiret One', cursive;
		width: 600px;
		margin-left: 30%;
		margin-top: 20%;
}

.form1 {
	background-color: white;
	width: 100px;
	margin-left: 48%;
}
.w3-card-24 {
width: 400px;
height: 400px;
left: 8%;
bottom: 70%;
}

