// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user-widget {
	background-color: white;
	width: 200px;
	height: 200px;
	position: absolute;
	left: 40%;
	padding-top: 10px;
	padding-left: 20px;
}

/*strong {
	position: relative;
	left:;
}*/
img {
	position: relative;
	left: 30px;
	top: 20px;
}
a {
	position: relative;
	top: 50px;
	left: -50px;
}

.w3-btn {
	position: relative;
	left: 40.5%;
	top: 200px;
}

